{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="bg-white p-4 p-md-5 rounded shadow">
    <h2 class="text-center fw-bold mb-4">KAS MES ESAME</h2>

    <p>
      <strong>„Migdolo“</strong> patirtis prekyboje, atrastas ir išlaikytas savitas stilius, leido sukurti išskirtinių baldų kolekcijas ne tik savo dizainu, 
      bet ir praktiškumu bei komplektavimo galimybėmis.
    </p>
    <p>
      Esame dinamiški, prisitaikantys prie kliento poreikių bei interjero dizaino tendencijų – kasmet atrandame naujų galimybių ir projektų, 
      ieškome, randame ir dalinamės tuo su Jumis.
      Mes tikrai siekiame tapti Jūsų asmeniniais patarėjais renkantis baldus.
    </p>
    <p>
      Mes mokam ne tik klausytis, bet pirmiausia <strong>girdėti savo klientą</strong>.
    </p>
    <p class="mt-4">
      Sekite mus Facebook paskyroje: <strong>„Migdolas - baldų parduotuvės“</strong>
    </p>
  </div>
</div>
{% endblock %}
