{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{ product.name }}</h1>

<img src="{{ product.image.url }}" style="width: 500px" />

<div class="gallery">
  {% for img in product.images.all %}
    <img src="{{ img.image.url }}" style="width: 100px;" />
  {% endfor %}
</div>

<p>{{ product.description }}</p>

<table>
  <tr>
    <th>Variant</th><th>Dimensions</th><th>Price (€)</th>
  </tr>
  {% for v in product.variants.all %}
  <tr>
    <td>{{ v.name }}</td>
    <td>{{ v.dimensions }}</td>
    <td>{{ v.price }}</td>
  </tr>
  <form method="post" action="{% url 'add_to_cart' product.id %}">
    {% csrf_token %}
    
    {% if product.variants.all %}
        <label for="variant">Pasirinkite variantą:</label>
        <select name="variant_id" id="variant" required>
            {% for variant in product.variants.all %}
                <option value="{{ variant.id }}">
                    {{ variant.name }} - {{ variant.size }} - {{ variant.price }} €
                </option>
            {% endfor %}
        </select>
    {% endif %}

    <form method="post" action="{% url 'add_to_cart' product.id %}">
      {% csrf_token %}
      <button type="submit">Užsakyti</button>
    </form>
  {% endfor %}
</table>

<a href="/contact/" class="btn">Susisiekti</a>
<a href="/checkout/" class="btn">Užsisakyti</a>
{% endblock %}
