{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{ product.name }}</h1>

<img src="{{ product.image.url }}" style="width: 500px" />

<div class="gallery">
  {% for img in product.images.all %}
    <img src="{{ img.image.url }}" style="width: 100px;" />
  {% endfor %}
</div>

<p>{{ product.description }}</p>

<table>
  <tr>
    <th>Variant</th><th>Dimensions</th><th>Price (€)</th>
  </tr>
  {% for v in product.variants.all %}
  <tr>
    <td>{{ v.name }}</td>
    <td>{{ v.dimensions }}</td>
    <td>{{ v.price }}</td>
  </tr>
  {% endfor %}
</table>

<a href="/contact/" class="btn">Susisiekti</a>
<a href="/checkout/" class="btn">Užsisakyti</a>
{% endblock %}
