{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header text-center fw-bold">
          Mano profilis
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            <div class="mb-3">
              <label for="id_first_name" class="form-label">Vardas</label>
              {{ form.first_name }}
            </div>

            <div class="mb-3">
              <label for="id_last_name" class="form-label">Pavardė</label>
              {{ form.last_name }}
            </div>

            <div class="mb-3">
              <label for="id_phone" class="form-label">Telefonas</label>
              {{ form.phone }}
            </div>

            <div class="mb-3">
              <label for="id_address" class="form-label">Adresas</label>
              {{ form.address }}
            </div>

            <div class="d-flex justify-content-center mb-4">
                <a href="{% url 'order_history' %}" class="btn btn-outline-primary">Mano užsakymai</a>
            </div>
              
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary">Išsaugoti</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}